<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Welcome to Suren!</title>
</head>

<body>
    {{{header}}}
    <div style="margin-left:2rem">
        <h5>Dear {{userName}},</h5>
        <p>Welcome to Suren! We’re excited to have you on board.
        <br />
        Please verify your email using this code:</p>
        <div style="margin-left:0.5rem">
            <p
                style="background-color:#20b486; padding:1rem 5rem; color:white;border-radius:25px; display:inline-block; font-weight:900; letter-spacing: 0.5em;">
                {{otp}}
            </p>
        </div>
        <div>
            <p>Regards, <br /> Suren Mobile App</p>
        </div>
    </div>
</body>

</html>